<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Tables R us</title>
        <link rel="stylesheet" href="/style.css">

	   <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.runtime.js" defer></script>
       <script src=/tablePhotoTemplate.js></script>        
        
    </head>
    <body>
        <header class="header-container"><div>
            <h1 class="main-title title-bar">Tables R us</h1>
            <h2 class="sub-title title-bar">Tables For Every Occasion!</h2>
            <!--Have a potential menu bar here, I was thinking of making the sell part a modal, good idea, bad?-->
            <nav class="nav-site">
                <a href="/">Home</a>
                <div class="productDropdown">
                    <button class="productsButton">Products</button>
                    <div class="products">
                        <a href="/products/glasscoffee">Glass Coffee Table</a>
                        <a href="/products/outdoor">Outdoor Mosaic Table</a>
                        <a href="/products/woodcoffee">Wood Coffee Table</a>
                        <a href="/products/dining">Wooden Dining Table</a>
                    </div>
                </div>
            </nav>
            </div></header>
        <main>
           {{{body}}}
        </main>
    </body>
</html>
