<div class="content-container">
    <h2 class="mainpage-title">Welcome to the premiere website for buying tables for any kind of table that you could want.</h2>
    <p>We are a company that is dedicated to making a selling high quality tables for whatever the customer needs. All of our tables are made from the finest quality materials, and are crafted by some of the best craftsmen avaliable.</p>

    <div class="example-container">
       <h2 class="example-items-title">We've got all kinds of tables here at Tables R us!!!</h2>
       <div class="example-items">

	  <div class="example-product">
	     <div class="example-product-container">
		<div class="example-image-container">  
		   <img class="example-image" src="./glassCoffeeTable1.jpg">
		</div>
		<div class="example-label-container">
		   <span>Glass Coffee Tables!</span>
		</div>
	     </div>
	  </div>


	  <div class="example-product">
	     <div class="example-product-container">
		<div class="example-image-container">  
		   <img class="example-image" src="./WoodCoffeeTable1.jpg">
		</div>
		<div class="example-label-container">
		   <span>Wooden Coffee Tables!</span>
		</div>
	     </div>
	  </div>


	  <div class="example-product">
	     <div class="example-product-container">
		<div class="example-image-container">  
		   <img class="example-image" src="./outdoorMosiacTable.jpg">
		</div>
		<div class="example-label-container">
		   <span>Outdoor Patio Tables!</span>
		</div>
	     </div>
	  </div>


	  <div class="example-product">
	     <div class="example-product-container">
		<div class="example-image-container">  
		   <img class="example-image" src="./WoodDiningTable1.jpg">
		</div>	         
	      	<div class="example-label-container">		
		   <span>Dining Tables! (chairs not sold here)</span>
		</div>		
             </div>
	  </div>

      </div>
   </div>
</div>
